@font-face {
	font-family: headerfont;
	src: url('fonts/DeadKansas.ttf');
	/* Font from http://www.urbanfonts.com/fonts/Dead_Kansas.htm */
}
@font-face {
	font-family: socialmedia;
	src: url('fonts/fontawesome.ttf');
	/* Font from http://fortawesome.github.io/Font-Awesome/ */
}

html, body {
	margin: 0;
	font-family:monospace;
	font-size: 0.9em;
}

body {
	background-image: url("images/seamlesstexture12_1200-invert.jpg");
	background-position: -10px -10px;
}

b{font-size:0.9em;font-weight: 700;}
dd{font-size:0.9em;margin-top: 20px;}
h1{font-size: 2.1em;}
h2{font-size: 1.5em;}
#menu{font-size: 1.8em;}

a{outline:0;}
a:link{color:#000000}
img{border:0;}
.hidden{display:none;width:0;height:0;letter-spacing:0;}
table,p{margin:20px 30px 0 30px;}
li{list-style:none;text-align:left;margin: 0 0 20px 0;padding: 0 0 0 20px;}
ul{text-align: center;margin:0;padding:0;}
.underline{border-bottom: 1px solid black;}
td{vertical-align: top;}

::selection {color:#FFFFFF;background:#000000;}
::-moz-selection {color:#FFFFFF;background:#000000;}

#header, #footer {
	color: #FFFFFF;
	padding: 20px;
	background-color: #000000;
	background-image: url("images/seamlesstexture12_1200.jpg");
	background-position: -10px -10px;
	clear: both;
}
#header{margin-bottom:30px;}
#footer{text-align: center;}
#content {
	min-height: 1600px;
}

.center {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
}

#title {
	padding: 10px 15px;
	margin: 0;
	font-weight: 100;
	font-family: headerfont;
}

#menu {
	line-height: 1.5em;
	margin: 0;
	padding: 5px 0 5px 5px;
}

.menulist {
	display: inline;
	list-style: none;
	text-align: center;
}

.listlink {
	color: #FFFFFF;
	display: inline-block;
	text-decoration:none;
	width: 9%;
	min-width: 25px;
	max-width: 80px;
	padding: 5px;
	font-family: socialmedia;
}
.listlink:link{color:#FFFFFF;}
.listlink:visited{color:#FFFFFF;}
.listlink:hover {color:#FFFFFF;}

.section {
	font-family: headerfont;
	font-weight: 100;
	margin: 60px 15px 20px 15px;
}

.blocklist {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	margin: 40px 0 0 0;
	padding: 0;
	width: 48%;
	min-width: 200px;
	list-style: none;
	font-family: monospace;
}

.listimage {
	width: 100%;
	height: 100%;
}

.link {text-decoration:none;}
.link:link{color:#000000;}
.link:visited{color:#000000;}
.link:hover{text-decoration:underline;}

.right,.left {
	float: right;
}
.right {
	width: 48%;
}
.left {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	min-width: 200px;
	max-width: 300px;
}
.left:before{
	content: "";
	display: block;
	padding-top: 100%;
}

#portrait {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 20px;
	border: solid 2px black;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("images/portrait.jpg");
}

@media screen and (max-width: 400px) {body{font-size:1.55em;}}
@media screen and (min-width: 400px) {body{font-size:1.55em;}}
@media screen and (min-width: 450px) {body{font-size:1.55em;}}
@media screen and (min-width: 500px) {body{font-size:1.55em;}}
@media screen and (min-width: 550px) {body{font-size:1.55em;}}
@media screen and (max-width: 600px) {.left,.right{width:100%;max-width:100%;}}
@media screen and (min-width: 600px) {body{font-size:1.55em;}}
@media screen and (min-width: 650px) {body{font-size:1.65em;}}
@media screen and (min-width: 700px) {body{font-size:1.7em;}}
@media screen and (min-width: 750px) {body{font-size:1.95em;}}
@media screen and (max-width: 800px) {.center{width:100%;max-width:100%;}}
@media screen and (min-width: 800px) {body{font-size:2em;}}
@media screen and (min-width: 850px) {h1{font-size:2.1em;}}
@media screen and (min-width: 950px) {h1{font-size:2.2em;}}
@media screen and (min-width: 1000px) {h1{font-size:2.3em;}}
@media screen and (min-width: 1050px) {h1{font-size:2.4em;}}
@media screen and (min-width: 1100px) {h1{font-size:2.5em;}}
@media screen and (min-width: 1150px) {h1{font-size:2.6em;}}
@media screen and (min-width: 1200px) {h1{font-size:2.7em;}}
